<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/users/create">Create user</a> <br><br>

Hello from twig
<style>
    table, tr, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<table>
{% for user in users %}
<tr>
    <td>{{ user.name|e }}</td>
    <td>
        <a href="/users/edit/{{user.id}}">Edit</a>
    </td>
    <td>
        <a href="/users/destroy/{{user.id}}">Delete</a>
    </td>
</tr>
{% endfor %}
</table>
</body>
</html>